version: '3.8'
services:
  app:
    build: .
    ports:
      - "8000:5000"
    volumes:
      - .:/code
      - torque-logs:/var/log
   # depends_on:
   #   - redis
  redis:
    image: "redis:alpine"
    command: redis-server
    ports:
      - "6379:6379"
    volumes: 
      - cache:/data
    profiles:
      - redis
  mysql:
    image: mysql:8:0
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=$DB_ROOT_PASSWORD
      - MYSQL_DATABASE=$MYSQL_DATABASE
    ports:
      - "3306:3306"
    volumes:
      - db:/var/lib/mysql
    profiles:
      - mysql
volumes:
  db:
    driver: local
  cache:
    driver: local
  torque-logs:
    driver: local
