# App config settings
APP_NAME={{ .AppName }}
APP_ENV=local
DEBUG=true

{{ if .ORM }}
# DB Connection Settings
DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=torque
DB_USERNAME=root
DB_PASSWORD=
{{ end }}

{{ if .AWS }}
# AWS Config settings
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
{{ end }}

{{ if .Redis }}
# Redis Config Settings
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
{{ end }}
